body{
    min-height: 100vh;
    background: linear-gradient(178deg,green, rgb(0, 0, 0) 30%);
}

#titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}

#informacoes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    margin: 0 auto;
    padding: 18px;
    width: 455px;
    color: black;
}

#imagem .logo {
    width: 200px;
    max-height: none;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.input-login {
    width: 100%;
    background-color: #18181b;
    height: 20px;
    border-radius: 10px;
    border: 2px solid rgba(85, 85, 85, 0.336);
    padding: 10px 5px;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-login::placeholder {
    color: #8f8f8f69;
}

.input-login:focus {
    border-bottom: 2px solid #b1b1b150;
    border-right: 2px solid #b1b1b150;
}

#button{
    text-align: center;
    margin-bottom: 20px;
    margin: transparent;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    padding: 8px 16px;
    margin-top: 30px; /*Distância do botão para as informações*/
    font-weight: 600; /*Negrito*/
    color: white; 
    text-decoration: none;
    background-color: transparent; 
    border: 2px solid #b1b1b150;
    border-radius: 8px;
    font-size: 16px; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: #006B39;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.senha-container {
  position: relative;
  width: 100%;
}

.senha-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}