
.login-page-container { /* */
    min-height: 100vh;
    background: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#titulo{ /* */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}

.login-page-container #informacoes{ /* */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    margin: 0 auto;
    padding: 18px;
    width: 455px;
    color: white;
}

.login-page-container #informacoes a { /* */
    display: block;
    text-align: left;
    color: #b1b1b1;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: none;
    padding-left: 20px;
}

.login-page-container #informacoes a:hover { /* */
    color: white;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.login-page-container #imagem .logo { /* */
    width: 140px;
    max-height: none;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.login-page-container .input-wrapper { /* */
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 15px;

    background-color: #18181b;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-page-container .input-wrapper .material-icons { /* */
    color: #b1b1b1;
    font-size: 1.6rem;
    margin-right: 10px;
}
 
.login-page-container .input-field { /* */
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.6rem;
    padding: 0;
    height: 100%;
    outline: none;
}

.login-page-container .input-field::placeholder { /* */
    color: #8f8f8f;
}

.login-page-container .senha-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.login-page-container .senha-container i { /* */
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

.login-page-container #button { /* */
    background-color: transparent; 
    margin: 0 auto; 
    padding: 0 18px; 
    width: 455px; 
    margin-top:10px;
}

.login-page-container .button { /* */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; 
    padding: 12px;
    font-weight: 600; 
    color: white; 
    text-decoration: none;
    background-color: transparent; 
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px; 
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-page-container .button:hover { /* */
    background-color: #fff;
    color: #000; 
}