.login-page-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #ffffff;
  position: relative;
}

.bg-logo-overlay {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-logo-overlay img {
  max-width: 85%;
  height: auto;
  opacity: 0.1;
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  z-index: 10;
}

.login-title {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-title span {
  color: #388e3c;
}

.form-group {
  margin-bottom: 25px;
  width: 100%;
  max-width: 450px;
}

.form-group label {
  display: block;
  color: #888;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.input-wrapper {
  background-color: #141414;
  border: 1px solid #222;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.input-wrapper.focus-green,
.input-wrapper:focus-within {
  border-color: #388e3c;
  box-shadow: 0 0 15px rgba(56, 142, 60, 0.4);
}

.input-field {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 1.3rem;
}

.form-footer-links {
  text-align: right;
  margin-top: 10px;
}

.forgot-password,
.create-link {
  color: #666;
  text-decoration: none;
  font-size: 1.3rem;
}

.btn-entrar {
  width: 100%;
  max-width: 450px;
  background-color: #388e3c;
  color: white;
  padding: 16px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 10px;
}

.create-account-area {
  margin-top: 10px;
  text-align: center;
  max-width: 450px;
  margin-bottom: 40px;
}

.back-arrow {
  position: absolute;
  bottom: 70px;
  left: 40px;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .bg-logo-overlay {
    display: none;
  }
  .login-page-container {
    justify-content: center;
  }
  .login-content {
    align-items: center;
    padding: 20px;
  }
}
