* {
  /* */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  /* */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* */
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  color: #333;
}

.page-content {
  /* */
  padding-top: 0;
}

*::selection {
  /* */
  background: green;
  color: #fff;
}

section {
  /* */
  padding: 4rem 4rem;
}

.heading {
  /* */
  font-size: 3.5rem;
  color: #fff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  /* */
  color: green;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
